* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #222327;
  margin: 0;
  padding: 0;
}
  
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}
  
.logo {
  cursor: pointer;
}
.selector div{
  height: 2px;
  width: 30px;
  margin: 6px;
  background-color: white;
  align-items: center;
}
.selector{
  display: none;
  transition: all 0.3s ease 0s;
}
  
.nav__links a,.cta,.overlay__content a {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}



.nav__links {
  list-style: none;
  display: flex;
  transition: 0ms ease;
  z-index: 100;
  line-height: 29px;
}
  
.nav__links li {
  padding: 0px 10px;
  transition: all 0.3s ease 0s;
}
header{
  background-color: #1a1b1f;
}
  
  
.nav__links li a {
  transition: all 0.3s ease 0s;
}
  
.nav__links li a:hover {
  color: #0088a9;
}
.nav__links li:hover {
  color: #0088a9;
  transform: translateY(-2px)
}
  
.cta {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}


  /* Mobile / small screens */


  @media screen and (max-width: 800px){

  body{
    overflow-x: hidden;
  }
  .selector{
    display: block;
  }
  .cta{
    display: none;
  }
  .nav__links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 14vh;
    background-color: #1a1b1f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: all 0.3s ease 0s;
    border-bottom-left-radius: 100px;
  }
  .nav__links li {
    margin: auto;
  }
}
.togl{
  transform: translateX(0%);
}
.selector:hover{
  cursor: pointer;
}

.toggle .l1{
  transform: rotate(-45deg) translate(-5px, 6px);
} 
.toggle .l2{
  opacity: 0;
}  
.toggle .l3{
  transform: rotate(45deg) translate(-5px, -6px);
}

.selector div {
  transition: all 0.3s ease 0s;
}
