<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Programmer's Den is a discord server for people who are interested in programming!
        We accept people of all skill levels either expert or completely new at programming.
        This is a server with a community of programmers who helps each other out.
        We have a custom bot that allows you to create a category for your project with no permission limits within the category.
        You are able to add developers to it so that they may join your project.
        It would be your own private category that only people you allow can access!
        Feel free to socialize and meet new people who have the same interests.
        You might even meet new people to start awesome projects with!</p>
</body>
</html>
