<head>
    <title>Programmer's Den | Apply for Staff</title>
</head>
<iframe src="https://forms.gle/e1pFLpde2daMFMvDA" style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999; body{background-color:#000;color:#ccc};">
    Sorry, but your browser does not support iframes; please switch to a modern one or update your browser to the latest version.
</iframe>
<!--Shows an error if iFrames are not supported; embeds google form with custom css if supported.-->