<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='src/css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='src/css/contact.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    <title>PD | Contacts</title>
</head>

<body>
    <header>
        <nav>
            <ul class="nav__links">
                <li><a href="/">Home</a></li>
                <li><a href="contact">Forums</a></li>
                <li><a href="contact">PDBot</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </nav>
        {% if not login_status %}
        <a class="cta" href="login">{{user.name}}</a>
        {% else %}
        <a class="cta">{{user.name}}</a>
        {% endif %}
        <div class="selector">
            <div class="l1"></div>
            <div class="l2"></div>
            <div class="l3"></div>
        </div>
    </header>
    <h1 id="center">You can get support or contacting us by using these links</h1>
    <div>
        <div class="in">
            <div class="deg">
                <a class="cont" href="#">
                    <img src="{{ url_for('static', filename='src/img/email.png') }}" alt="email">
                    <h2>Email</h2>
                    <h5>Email <strong>skane@pden.net</strong> to contact us</h5>
                </a>
                <a class="cont" href="https://discord.gg/Ws37MKy">
                    <img src="{{ url_for('static', filename='src/img/discord-logo-png-7617.png') }}" alt="discord">
                    <h2>Discord</h2>
                    <h5>Join our discord server!</h5>
                </a>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='src/js/header.js') }}"></script>
    {% if login_status %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="{{ url_for('static', filename='src/js/discord.js') }}"></script>
    {% endif %}
</body>

</html>
